.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
#grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    

}
.grid-element{
    height: 10px;
    width: 10px;
    background-color: rgb(206, 138, 11);
}